<script lang="ts" src="./Pagination.ts"></script>

<template>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-end">
			<li class="page-item" :class="!hasPrev ? 'disabled' : ''">
				<button type="button" class="page-link" tabindex="-1" aria-disabled="true" @click="paginate('prev')">
					<span aria-hidden="true">&laquo;</span>
				</button>
			</li>

			<li
v-for="(page, index) in getPages(currentPage, pagesCount)" :key="index"
				class="page-item" :class="currentPage === page ? 'active' : ''">
				<button type="button" class="page-link" :class="page === '...' ? 'disabled' : ''" @click="goTo(page)">
					{{ page }}
				</button>
			</li>

			<li class="page-item" :class="!hasNext ? 'disabled' : ''">
				<button type="button" class="page-link" @click="paginate('next')">
					<span aria-hidden="true">&raquo;</span>
				</button>
			</li>
		</ul>
	</nav>
</template>

<style scoped lang="scss" src="./Pagination.scss"></style>
