header {
	position: relative;
	background-color: #343a40;
	padding-top: 8rem;
	padding-bottom: 8rem;

	h1 {
		font-size: 2rem;
	}

	@media (min-width: 768px) {
		padding-top: 4rem;
		padding-bottom: 4rem;

		h1 {
			font-size: 2rem;
		}
	}
}

#character-detail {
	margin-top: 50px;
	margin-bottom: 50px;

	.col {
		display: block;
		margin: auto;

		.card {
			.card-body {
				text-align: center;
			}
		}
	}
}
