#characters-list {
	margin-top: 50px;
	margin-bottom: 50px;

	.character {
		margin-top: 40px;

		.card {
			cursor: pointer;
			position: relative;
			transition: all 0.3s ease-in-out;

			&:hover {
				top: -6px;
				box-shadow: 0px 2px 2px black;
			}

			.card-body {
				text-align: center;
			}
		}
	}
}
