<script lang="ts" src="./Home.ts"></script>

<template>
	<div>
		<section id="hero" class="d-flex align-items-center">
			<div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-9 text-center">
						<h1>The Rick and Morty</h1>
						<h5>TV show</h5>
					</div>
				</div>
				<div class="text-center">
					<router-link class="btn-get-started navbar-brand" to="/characters">VOIR LES PERSONNAGES</router-link>
				</div>
			</div>
		</section>

		<Footer />
	</div>
</template>

<style scoped lang="scss" src="./Home.scss"></style>
