<script lang="ts" src="./Header.ts"></script>

<template>
	<header class="text-white text-center">
		<div class="container">
			<div class="row">
				<div v-if="onDetailPage" class="col-xl-9 mx-auto">
					<h1>
						<router-link
exact active-class="active" class="nav-link"
							:to="{ name: 'Characters', query: { page: 1 } }">
							RETOUR
						</router-link>
					</h1>
				</div>

				<div v-if="!onDetailPage" class="col-xl-9 mx-auto">
					<h1>Saisir un nom</h1>
				</div>

				<div v-if="!onDetailPage" class="col-md-10 col-lg-8 col-xl-7 mx-auto">
					<form class="needs-validation" novalidate @submit.prevent>
						<div class="form-row">
							<div class="col-12 col-md-9 mb-2 mb-md-0">
								<input
v-debounce:400="filterCharacterByName" type="text"
									class="form-control form-control-lg"
									:class="query !== '' ? (characters.length > 0 ? 'is-valid' : 'is-invalid') : ''"
									placeholder="Rick, Morty, Jerry etc..." />

								<div id="status">
									<span
v-for="(s, idx) in status" :key="idx" class="badge" :class="{
										'text-bg-success': reactiveState.currentStatus === s,
										'text-bg-primary': reactiveState.currentStatus !== s,
										'active': reactiveState.currentStatus === s,
									}" @click="setStatus(s)">
										{{ s }}
									</span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
</template>

<style scoped lang="scss" src="./Header.scss"></style>
