*,
html {
	font-family: "Langar", cursive;
	font-size: 14px;
}

body {
	padding: 0;
	margin: 0;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.page-link {
	color: #343a40;
}

.page-link:hover {
	color: #000;
}
